Repository lysnikolaou/eatandmeet, pull requests merged in 2019-07, with the labels that each got.

#67 Feature/event page
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/colors.js
  frontend/src/components/Button/index.jsx
  frontend/src/components/Button/index.module.scss
  frontend/src/components/EventPage/action-types.js
  frontend/src/components/EventPage/actions.js
  frontend/src/components/EventPage/index.jsx
  frontend/src/components/EventPage/index.module.scss
  frontend/src/components/EventPage/reducer.js
  frontend/src/components/FeedItem/index.jsx
  frontend/src/components/FeedItem/index.module.scss
  frontend/src/components/MainLayout/index.scss
  frontend/src/components/Share/index.jsx
  frontend/src/components/Share/index.module.scss
  frontend/src/fakedata/fakefetch.js
  frontend/src/fakedata/feed.js
  frontend/src/features/entrance/index.jsx
  frontend/src/features/feed/Components/VisibileFeed.js
  frontend/src/index.js
  frontend/src/static/styles/config/colors.scss
  frontend/src/store/reducer.js
Labels: Feature, frontend

#69 Button upgrade Style
  frontend/src/components/Button/index.jsx
  frontend/src/components/Button/index.module.scss
  frontend/src/features/landing/Login/index.jsx
  frontend/src/features/landing/Register/index.jsx
  frontend/src/features/landing/Welcome/index.jsx
  frontend/src/features/landing/index.module.scss
  frontend/src/static/styles/config/colors.scss
Labels: enhancement, frontend

#71 Data Clarification (FE-23)
  frontend/src/components/Button/index.module.scss
  frontend/src/components/DataInfo/index.jsx
  frontend/src/components/DataInfo/index.module.scss
  frontend/src/components/EventPage/index.jsx
  frontend/src/components/EventPage/index.module.scss
  frontend/src/components/MainLayout/index.jsx
  frontend/src/components/MainLayout/index.module.scss
  frontend/src/components/MainLayout/index.scss
  frontend/src/components/Navigation/index.jsx
  frontend/src/components/Navigation/index.module.scss
  frontend/src/components/Navigation/index.scss
  frontend/src/components/WelcomeLayout/index.jsx
  frontend/src/features/landing/index.module.scss
  frontend/src/index.scss
  frontend/src/static/styles/config/colors.scss
Labels: Feature, frontend

#76 Backend/Auth Integration
  backend/eatandmeet/eatandmeet/settings.py
  backend/requirements.txt
Labels: backend, enhancement

#75 Frontend/User Integration Implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config/config.json
  frontend/src/features/landing/Login/index.jsx
  frontend/src/features/landing/Register/index.jsx
  frontend/src/helpers/auth-header.js
  frontend/src/services/user.service.js
Labels: enhancement, frontend

#80 Feature/add event style
  frontend/src/components/CreateEvent/CreateEvent.jsx
  frontend/src/components/CreateEvent/CreateEvent.scss
  frontend/src/components/CreateEvent/index.module.scss
  frontend/src/components/CreateEvent/index.scss
Labels: enhancement

#82 Backend/Return User when logging in
  backend/eatandmeet/authentication/views.py
Labels: backend, bug

#85 hot fix double topic
  frontend/src/components/CreateEventTopics/index.jsx
Labels: bug

#86 Sort event by Date
  frontend/src/features/feed/Components/feedList.js
Labels: bug

#87 small fix of time and username
  frontend/src/components/EventPage/index.jsx
  frontend/src/components/Navigation/index.jsx
Labels: bug
