Repository lysnikolaou/eatandmeet, pull requests merged in 2019-06, with the labels that each got.

#42 Frontent/user-profile
  frontend/src/components/user-profile/profile.css
  frontend/src/components/user-profile/profile.jsx
Labels: Feature, frontend

#46 Events Feed - Main Page (FE-11)
  frontend/.eslintrc.json
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/FeedItem/index.jsx
  frontend/src/components/FeedItem/index.scss
  frontend/src/components/MainLayout/index.jsx
  frontend/src/components/MainLayout/index.scss
  frontend/src/components/Navigation/index.jsx
  frontend/src/components/Navigation/index.scss
  frontend/src/components/UserProfile/index.css
  frontend/src/components/UserProfile/index.jsx
  frontend/src/components/WelcomeLayout/index.jsx
  frontend/src/components/WelcomeLayout/index.scss
  frontend/src/fakedata/feed.js
  frontend/src/features/HomePage/index.jsx
  frontend/src/features/HomePage/paths.js
  frontend/src/features/entrance/index.jsx
  frontend/src/features/entrance/paths.js
  frontend/src/features/feed/index.jsx
  frontend/src/features/landing/Login/index.jsx
  frontend/src/features/landing/Login/index.scss
  frontend/src/features/landing/Register/index.jsx
  frontend/src/features/landing/Register/index.scss
  frontend/src/features/landing/Register/validate.js
  frontend/src/features/landing/Welcome/index.jsx
  frontend/src/features/landing/entrance.jsx
  frontend/src/features/landing/index.scss
  frontend/src/features/landing/paths.js
  frontend/src/helpers/index.js
  frontend/src/index.js
  frontend/src/index.scss
  frontend/src/static/styles/config/colors.scss
  frontend/src/store/store.js
  frontend/src/utils/date.js
  package-lock.json
Labels: Feature, frontend

#48 Add ESLint (FE-17)
  .travis.yml
  frontend/.eslintignore
  frontend/.eslintrc
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/CHANGELOG.md
  frontend/config/env.js
  frontend/config/jest/cssTransform.js
  frontend/config/jest/fileTransform.js
  frontend/config/modules.js
  frontend/config/paths.js
  frontend/config/pnpTs.js
  frontend/config/webpack.config.js
  frontend/config/webpackDevServer.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/build.js
  frontend/scripts/start.js
  frontend/scripts/test.js
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/actions/alert.actions.js
  frontend/src/actions/user.actions.js
  frontend/src/components/FeedItem/index.jsx
  frontend/src/components/Loader/index.jsx
  frontend/src/components/MainLayout/index.jsx
  frontend/src/components/Navigation/index.jsx
  frontend/src/components/PrivateRoute.jsx
  frontend/src/components/UserProfile/index.jsx
  frontend/src/components/WelcomeLayout/index.jsx
  frontend/src/components/user-profile/profile.css
  frontend/src/components/user-profile/profile.jsx
  frontend/src/constants/alert.constants.js
  frontend/src/constants/user.constatns.js
  frontend/src/fakedata/feed.js
  frontend/src/features/entrance/index.jsx
  frontend/src/features/entrance/paths.js
  frontend/src/features/feed/index.jsx
  frontend/src/features/landing/Login/index.jsx
  frontend/src/features/landing/Register/index.jsx
  frontend/src/features/landing/Register/validate.js
  frontend/src/features/landing/Welcome/index.jsx
  frontend/src/features/landing/entrance.jsx
  frontend/src/features/landing/paths.js
  frontend/src/helpers/auth-header.js
  frontend/src/helpers/fake_backend.js
  frontend/src/helpers/history.js
  frontend/src/index.js
  frontend/src/reducers/alert.reducer.js
  frontend/src/reducers/authentication.reducer.js
  frontend/src/reducers/index.js
  frontend/src/reducers/registration.reducer.js
  frontend/src/reducers/users.reducer.js
  frontend/src/serviceWorker.js
  frontend/src/services/UserService.js
  frontend/src/services/user.service.js
  frontend/src/store/store.js
  frontend/src/utils/date.js
Labels: configuration, frontend

#49 Add Depandabot - Frontend (FE-19)
  .dependabot/config.yml
  .idea/misc.xml
  frontend/.gitignore
  frontend/CHANGELOG.md
  frontend/src/actions/user.actions.js
Labels: Dependabot, configuration

#55 Enable password reset functionality
  backend/eatandmeet/authentication/serializers.py
  backend/eatandmeet/authentication/urls.py
Labels: backend, enhancement

#54 Include About and Avatar fields in the User Model
  backend/eatandmeet/authentication/migrations/0002_auto_20190612_1654.py
  backend/eatandmeet/authentication/models.py
  backend/eatandmeet/authentication/serializers.py
  backend/requirements.txt
Labels: backend, enhancement

#53 Include docs in the backend app
  backend/CHANGELOG.md
  backend/eatandmeet/eatandmeet/urls.py
  backend/requirements.txt
Labels: backend, configuration, enhancement

#58 Frontend/feature/logout
  frontend/CHANGELOG.md
  frontend/src/App.js
  frontend/src/actions/user.actions.js
  frontend/src/components/MainLayout/index.jsx
  frontend/src/components/Navigation/index.jsx
  frontend/src/components/Navigation/index.scss
  frontend/src/features/entrance/paths.js
Labels: Feature, frontend

#60 Backend/Event and Comment permissions
  backend/eatandmeet/api/migrations/0001_initial.py
  backend/eatandmeet/api/migrations/0002_auto_20190613_1542.py
  backend/eatandmeet/api/migrations/0002_event_users.py
  backend/eatandmeet/api/migrations/0003_auto_20190613_1637.py
  backend/eatandmeet/api/migrations/0004_auto_20190613_1637.py
  backend/eatandmeet/api/migrations/0005_auto_20190613_1650.py
  backend/eatandmeet/api/migrations/0006_auto_20190613_1806.py
  backend/eatandmeet/api/models.py
  backend/eatandmeet/api/permissions.py
  backend/eatandmeet/api/serializers.py
  backend/eatandmeet/api/urls.py
  backend/eatandmeet/api/views.py
  backend/eatandmeet/authentication/migrations/0001_initial.py
  backend/eatandmeet/authentication/migrations/0002_auto_20190612_1654.py
  backend/eatandmeet/authentication/permissions.py
  backend/eatandmeet/authentication/views.py
Labels: backend, enhancement

#65 Loading indicator (FE-21)
  frontend/.eslintrc
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/actions/alert.actions.js
  frontend/src/actions/user.actions.js
  frontend/src/components/Calender/action-types.js
  frontend/src/components/Calender/actions.js
  frontend/src/components/Calender/index.jsx
  frontend/src/components/Calender/index.scss
  frontend/src/components/Calender/reducer.js
  frontend/src/components/FeedItem/index.jsx
  frontend/src/components/FeedItem/index.scss
  frontend/src/components/FeedItem/reducer.js
  frontend/src/components/MainLayout/index.jsx
  frontend/src/components/Navigation/index.jsx
  frontend/src/components/PrivateRoute.jsx
  frontend/src/components/UserProfile/index.jsx
  frontend/src/components/UserProfile/index.scss
  frontend/src/components/WelcomeLayout/index.jsx
  frontend/src/components/loadingComponent/index.jsx
  frontend/src/components/loadingComponent/index.module.scss
  frontend/src/constants/alert.constants.js
  frontend/src/constants/user.constatns.js
  frontend/src/fakedata/feed.js
  frontend/src/features/entrance/index.jsx
  frontend/src/features/entrance/paths.js
  frontend/src/features/feed/Components/VisibileFeed.js
  frontend/src/features/feed/Components/feedList.js
  frontend/src/features/feed/action-types.js
  frontend/src/features/feed/actions.js
  frontend/src/features/feed/index.jsx
  frontend/src/features/feed/redeucer.js
  frontend/src/features/landing/Login/index.jsx
  frontend/src/features/landing/Register/index.jsx
  frontend/src/helpers/auth-header.js
  frontend/src/helpers/fake_backend.js
  frontend/src/index.js
  frontend/src/reducers/alert.reducer.js
  frontend/src/reducers/authentication.reducer.js
  frontend/src/reducers/index.js
  frontend/src/reducers/registration.reducer.js
  frontend/src/reducers/users.reducer.js
  frontend/src/services/UserService.js
  frontend/src/services/user.service.js
  frontend/src/static/styles/config/colors.scss
  frontend/src/store/index.js
  frontend/src/store/middleware.js
  frontend/src/store/reducer.js
  frontend/src/store/store.js
Labels: Feature, frontend
