Repository lysnikolaou/eatandmeet, pull requests merged in 2019-05, with the labels that each got.

#12 Configuration/frontend/init
  frontend/.gitignore
  frontend/CHANGELOG.md
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/login-register/Login.jsx
  frontend/src/components/login-register/Loginscreen.jsx
  frontend/src/components/login-register/Register.jsx
  frontend/src/components/login-register/UploadsScreen.jsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/serviceWorker.js
Labels: configuration, frontend

#27 Backend&Frontend/Fix travis file
  .travis.yml
Labels: backend, bug, frontend

#26 Backend/User Model Implementation
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  backend/dev-requirements.txt
  backend/eatandmeet/authentication/__init__.py
  backend/eatandmeet/authentication/admin.py
  backend/eatandmeet/authentication/apps.py
  backend/eatandmeet/authentication/migrations/0001_initial.py
  backend/eatandmeet/authentication/migrations/__init__.py
  backend/eatandmeet/authentication/models.py
  backend/eatandmeet/authentication/serializers.py
  backend/eatandmeet/authentication/tests/__init__.py
  backend/eatandmeet/authentication/tests/test_add_user.py
  backend/eatandmeet/authentication/tests/test_delete_user.py
  backend/eatandmeet/authentication/tests/test_edit_user.py
  backend/eatandmeet/authentication/urls.py
  backend/eatandmeet/authentication/views.py
  backend/eatandmeet/eatandmeet/settings.py
  backend/eatandmeet/eatandmeet/urls.py
  backend/eatandmeet/pytest.ini
Labels: DO-NOT-MERGE

#30 Backend&Frontend/Fix travis file
  .travis.yml
Labels: backend, bug, frontend

#31 Travis: Allow react test failures, until they are ready to run
  .travis.yml
Labels: backend, bug, configuration, frontend

#28 Event Model
  backend/eatandmeet/api/__init__.py
  backend/eatandmeet/api/admin.py
  backend/eatandmeet/api/apps.py
  backend/eatandmeet/api/migrations/0001_initial.py
  backend/eatandmeet/api/migrations/0002_auto_20190524_1728.py
  backend/eatandmeet/api/migrations/0003_auto_20190524_2012.py
  backend/eatandmeet/api/migrations/__init__.py
  backend/eatandmeet/api/models.py
  backend/eatandmeet/api/serializers.py
  backend/eatandmeet/api/urls.py
  backend/eatandmeet/api/views.py
  backend/eatandmeet/eatandmeet/settings.py
  backend/eatandmeet/eatandmeet/urls.py
Labels: backend, enhancement

#33 Config/GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/user-story-issue.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: configuration

#32 User/Event Models Connected
  backend/eatandmeet/api/migrations/0001_initial.py
  backend/eatandmeet/api/migrations/0002_auto_20190524_1728.py
  backend/eatandmeet/api/migrations/0002_event_users.py
  backend/eatandmeet/api/migrations/0003_auto_20190524_2012.py
  backend/eatandmeet/api/models.py
  backend/eatandmeet/api/serializers.py
  backend/eatandmeet/api/urls.py
  backend/eatandmeet/api/views.py
  backend/eatandmeet/authentication/migrations/0001_initial.py
  backend/eatandmeet/eatandmeet/settings.py
  backend/requirements.txt
Labels: backend, enhancement

#37 User Token-based Authentication implementation
  backend/eatandmeet/authentication/authentication.py
  backend/eatandmeet/authentication/models.py
  backend/eatandmeet/authentication/permissions.py
  backend/eatandmeet/authentication/serializers.py
  backend/eatandmeet/authentication/tests/test_delete_user.py
  backend/eatandmeet/authentication/tests/test_edit_user.py
  backend/eatandmeet/authentication/tests/test_login_user.py
  backend/eatandmeet/authentication/urls.py
  backend/eatandmeet/authentication/views.py
  backend/eatandmeet/eatandmeet/settings.py
  backend/requirements.txt
Labels: backend, enhancement

#43 Frontend/bug/loging out
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/features/HomePage/index.jsx
  frontend/src/features/HomePage/paths.js
  frontend/src/features/WelcomePage/Login/index.jsx
  frontend/src/features/WelcomePage/Welcome/index.jsx
  frontend/src/features/WelcomePage/entrance.jsx
Labels: bug, frontend
